APP_ENV=development
SERVER_PORT=8080

SQL_HOST=localhost
SQL_PORT=3306
SQL_USER=root
SQL_PASS=secret
SQL_DB_NAME=inventhier

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DEFAULT_TIMEOUT=600

MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=inventhier_audit

CLIENT_TIMEOUT=30
CONTEXT_TIMEOUT=30

# External Services
USER_SERVICE_GRPC_ADDR=localhost:50051

PAYMENT_SERVICE_URL=http://localhost:3001
PAYMENT_SERVICE_API_KEY=

